{{outlet}}
<div class="columns two">
  <div class='column'>
    <h1>Notes</h1>
  </div>
  {{#each flash in flashes.content}}
  <div class="column">
    <strong>{{flash-message flash=flash class='full'}}</strong>
  </div>
  {{/each}}
</div>




<div class="columns two">
  <div class="column">
    <div class="title">
      {{textarea placeholder="Add a title!" value=noteTitle class='title'}}
    </div>
    <div class="content">
      {{textarea placeholder="Add a note!" value=noteCopy class='content'}}
    </div>
  </div>
  <div class="column">
    <div class="head">
      <strong>{{noteTitle}}</strong>
    </div>
    <div class="body">
      {{markdown-to-html markdown=noteCopy}}
    </div>
    <div class='create bottom'>
      <button class="save" {{action 'newNote'}}>Save Note</button>
    </div>
  </div>
</div>


<hr>

<div class="columns two topper">
  {{#each note in model}}
  {{local-note note=note deleteNote="deleteNote"}}
  {{/each}}
</div>
